<div class="container">
  <div class="row">
      <div class="col-md-6">
          <form class="mt-3" >
              <div class="mb-2">
                  <input name="contactName" (change)="nameF($event)" type="text" class="form-control" placeholder="Name">
              </div>
              <div class="mb-2">
                  <input name="photo" (change)="addressF($event)" type="text" class="form-control" placeholder="Address">
              </div>
              <div class="mb-2">
                  <input name="title" (change)="ageF($event)" type="text" class="form-control" placeholder="Age">
              </div>
              <div class="mb-2">
                  <input name="email" (change)="emailF($event)" type="text" class="form-control" placeholder="Email">
              </div>
              <div class="mb-2">
                  <input name="number" (change)="phoneF($event)" type="text" class="form-control" placeholder="Phone number">
              </div>
              <div class="mb-2">
                  <input name="companyName" (change)="pincodeF($event)" type="text" class="form-control" placeholder="Pincode">
              </div>
             
              <button (click)="submit()" class="btn btn-primary">Submit</button>
              
          </form>
      </div>
     
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <ul class="list-group">
          <li class="list-group-item"><b>Name</b>:{{obj.name}} </li>
          <li class="list-group-item"><b>Address</b>: {{obj.address}} </li>
          <li class="list-group-item"><b>Age</b>:{{obj.age}} </li>
          <li class="list-group-item"><b>Email</b>: {{obj.email}} </li>
          <li class="list-group-item"><b>Phone Number</b>: {{obj.phone}} </li>
          <li class="list-group-item"><b>Pincode</b>: {{obj.pincode}} </li>
        </ul>
  </div>
  </div>
</div>
